body{
    background: radial-gradient(40% 150%,#573d77,#3d2753);
    max-width: 100%;
}

#appname{
    background: -webkit-linear-gradient(top,#fafafa,#c0c8ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    max-width: 100%;
    text-align: center;
    font-size: 65px;
    font-family:"Forte";	src: url("http://www.myfontfree.com/data/54/f/forte/FORTE.TTF");
}

#userinfo{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
}

#userinfo input{
    color: #7e6a93;
    max-width: 100%;
    background-color: #311d42;
    height: 50px;
    width: 300px;
    font-size: 18px;
    display: block;
    margin-top: .5%;
    border-bottom: 2px;
    border-bottom-style: inset;
    border-bottom-color: #644f7b;
    border-right-style: inherit;
    border-left-style: inherit;
    border-top-style: inherit;
}

::-webkit-input-placeholder {
    color: #7e6a93;
}

#username{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url(username%20icon.png);
    text-indent: 60px;
    background-repeat: no-repeat;
    background-position: left ;
    
}

#password {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: url(password%20icon.png);
    text-indent: 60px;
    background-repeat: no-repeat;
    background-position: left ;
    
}


#loginbuttons{
    padding-top: 50px;
    text-align: center;
    max-width: 100%;
    
}

#login{
    background: -webkit-linear-gradient(top,#25af76,#189360);
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #f8fffb;
    border-radius: 4px;
    border-style: inset;
    border-top-color: #52c294;
    border-top-style: outset;
    border-right-style: inherit;
    border-left-style: inherit;
    border-bottom-style: inherit;
    
}


#or{
    font-size: 22px;
    color: #846f99;
}

#loginfb{
    height: 50px;
    width: 300px;
    background-color: #2b4681;
    background-image: url(login%20fb.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
    font-size: 18px;
    color: #f8fffb;
    border-radius: 4px;
    border-style: inset;
    border-top-color: #526a9d;
    border-top-style: outset; 
    border-right-style: inherit;
    border-left-style: inherit;
    border-bottom-style: inherit;
}


#footer{
    padding-top: 80px;
    text-align: center;
    max-width: 100%;
    margin-top: 70px;
    
}

#fp{
    height: 50px;
    width: 150px;
    border-bottom: 2px;
    border-bottom-style: inset;
    border-bottom-color: #644f7b;
    border-right-style: inherit;
    border-left-style: inherit;
    border-top-style: inherit;
    color: #7e6a93;
background-color: #311d42;
    
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#rg{
    height: 50px;
    width: 150px;
    border-bottom: 2px;
    border-bottom-style: inset;
    border-bottom-color: #644f7b;
    border-right-style: inherit;
    border-left-style: inherit;
    border-top-style: inherit;
    color: #7e6a93;
background-color: #311d42;
    
}
